* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

.project-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
}

@media screen and (min-width: 768px) {
  .project-window {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-canvas {
  min-width: 420px;
  margin: 0 auto;
  padding: 16px;
  background: #f0f0f0;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.25em 0.75em #c8c8c8;
          box-shadow: 0 0.25em 0.75em #c8c8c8;
}

@media screen and (min-width: 768px) {
  .project-canvas {
    max-width: 560px;
  }
}

.todo-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em 1em 0em;
}

.todo-item__input-wrapper {
  display: block;
  width: 100%;
}

.todo-item__input-wrapper input {
  display: none;
  visibility: hidden;
}

.todo-item__icon-wrapper {
  color: #c8c8c8;
  padding-right: 0.5em;
}

.todo-item__check-icon {
  display: inline-block;
  padding: 2px;
  color: #969696;
}

.todo-item__check-icon:hover {
  color: #1e1e1e;
}

.todo-item__complete {
  text-decoration: line-through;
  color: #969696;
}

.todo-item__incomplete {
  text-decoration: none;
  color: #1e1e1e;
}

.todo-item__delete-link {
  font-size: 0.8em;
  text-decoration: none;
  color: #969696;
}

.todo-item__delete-link:hover {
  text-decoration: underline;
  color: #1e1e1e;
}

#todo-list__input {
  display: block;
  width: 100%;
}

.input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: 4px;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid #c8c8c8;
}

input[type="text"].error__input {
  border: 2px solid #f63545;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px;
  margin-left: 1em;
  background: #c8c8c8;
  border: 0 none;
}

input[type="submit"]:hover {
  background: #969696;
}

input[type="reset"] {
  cursor: pointer;
  padding: 10px;
  background: none;
  border: 2px solid #f63545;
  color: red;
}

input[type="reset"]:hover {
  background: #f63545;
  color: white;
}

#todo-list__alert-message {
  font-size: 0.8em;
  color: #969696;
}

#todo-list__alert-message.error__alert-message {
  color: #f63545;
}
/*# sourceMappingURL=stylesheet.css.map */